{
  "endOfLine": "auto",
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "printWidth": 160,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
