html,
body {
  position: fixed;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

#root {
  display: flex;
  flex-direction: column;
}
